################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BGGPlusPlus/.vs/BGGPlusPlus/v16
